---
independent: true
greedy: false
---

:ruby
  src ||= nil
  content ||= ""
  type ||= ""
  height ||= ""
  width ||= ""

-# Render embedded video with caption
.als-mf.als-video{:class => "#{type}"}
  .video-box
    %iframe{:src => "#{src}", :width => "#{width}", :height => "#{height}", :frameborder => "0", :webkitallowfullscreen => true, :mozallowfullscreen => true, :allowfullscreen => true}
  .caption
    %span.index
    = raw content.join

:coffee
  $( ->
    $('.video-box').fitVids()
  )
